.App {
  text-align: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgb(82, 78, 78);
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 40px;
  background-color: black;
  width:100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: black;
  width: calc(100% - 5rem);
  padding-top: 20px;
  padding-bottom: 20px;
}
